body {
  background-repeat: no-repeat; 
  background-position: center top; 
  margin: 0;
}


header {
  padding: 20px;
background-image: url("./img/background.png"); 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: #e4e4e4;
  margin-right: 20px;
}

.button {
  background-color: #23A6F0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block; 
}

.button1 {
  background-color:  #23A6F0; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  margin: 10px; 
  display: inline-block;
}

.transparent-button {
  background-color: transparent; 
  border: 2px solid #a5a5a5; 
  color: #f1f1f1; 
  border-radius: 25px;
}

h1 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f1f1f1;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.content {
  text-align: center;
  
}



.card {
  width: 300px; 
  margin:20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
}

.card-content {
  background-color: white; 
  padding: 20px;
  text-align: center; 
}

.card-content-blue {
  background-color: #23A6F0; 
  color: white; 
  padding: 20px;
  text-align: center; 
}

.card-icon {
  font-size: 30px; 
  margin-bottom: 10px; 
  margin-right: 10px;
 float: left;
}

.card-title {
  font-size: 18px; 
  font-weight: bold;
  margin-bottom: 10px; 
  text-align: left;
  padding: 9px;
}

.card-text {
  font-size: 14px; 
  color: #5a5a5a;
  text-align: left;
  padding: 9px;
}

.card-text1 {
  font-size: 14px; 
  line-height: 1.5; 
  color: #eeeeee;
  text-align: left;
}

.cards-container {
  display: flex; 
  justify-content: center; 
  margin: -40px 0;
  gap: 30px; 
}



/*следующая секция карточек*/
.containerr {
  background-color: #fff;
  padding: 40px;
  margin: 50px auto;
  max-width: 1200px;
  text-align: center;
}

.section-title {
  margin-bottom: 30px;
}

.cardss {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cardd {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
}

.cardd-icon {
  font-size: 3em;
  color: #333;
  margin-bottom: 15px;
}

.cardd-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.cardd-text {
  line-height: 1.5;
  color: #868686;
}

.cont{
  text-align: center;
}
.pp{
  color: #707070;
}